<div class="profile">
    <section id="wrapper">
        <header id="header">
            <a href='{{ site.baseurl }}'>
                <img id="avatar" class="2x" src="/assets/images/avatar.png"/>
            </a>
            <h1>{{ site.author }}</h1>
            <h2>
              I'm a Developer with passion for building beautiful things with code and I am working at <a href="https://www.shopify.com" target="_blank">Shopify</a>.
            </h2><br><br>

            <h1>Open Source Projects</h1>
            <h2>
              <center>
              <a href="https://github.com/SebastianSzturo/dokku-cli" target="_blank">Dokku CLI</a> -  Makes your dokku even more heroku.<br>
              <a href="https://kaisuu.herokuapp.com/" target="_blank">Kaisuu</a> -  Watch Japan's Kanji Usage on Twitter in Realtime.<br>
              <a href="https://github.com/SebastianSzturo/countries" target="_blank">Countries</a> -  Collection of country information for elixir.<br>
              <a href="https://github.com/SebastianSzturo/bolt" target="_blank">Bolt </a> -  Simple and fast http proxy living in the Erlang VM.<br>
              <a href="https://github.com/SebastianSzturo/inaho" target="_blank">Inaho</a> -  Create dictionaries for Apple's Dictionary.app with ease.<br>
              <a href="https://github.com/SebastianSzturo/basecamp-desktop" target="_blank">Basecamp Desktop</a> -  Unoffical Basecamp 3 Desktop Client.

              </center>
            </h2><br><br>

            <h1> Contact </h1>
            <h2>
              Via <i class="fa fa-twitter"></i> <a href="https://twitter.com/SebastianSzturo" target="_blank">@SebastianSzturo</a> or on <i class="fa fa-github"></i> <a href="https://github.com/SebastianSzturo">@SebastianSzturo</a>.<br>
              You can also write me an email to s.szturo#me.com
            </h2><br>
        </header>
    </section>
</div>
