<div class="profile">
    <section id="wrapper">
        <header id="header">
            <a href='{{ site.baseurl }}'>
                <img id="avatar" class="2x" src="/assets/images/avatar.png"/>
            </a>
            <h1>{{ site.author }}</h1>
            <h2>
              I'm a Full Stack Engineer with passion for building beautiful things with code and I am working at <a href="http://solarisjapan.com" target="_blank">Solaris Japan Inc</a>.
            </h2><br><br>

            <h1>Open Source Projects</h1>
            <h2>
              <center>
              <a href="https://github.com/SebastianSzturo/dokku-cli" target="_blank">Dokku CLI</a> -  Makes you dokku even more heroku.<br>
              <a href="https://github.com/SebastianSzturo/countries" target="_blank">Countries</a> -  Collection of country information for elixir.<br>
              <a href="https://github.com/SebastianSzturo/bolt" target="_blank">Bolt </a> -  Simple and fast http proxy living in the Erlang VM.<br>
              <a href="https://github.com/SebastianSzturo/inaho" target="_blank">Inaho</a> -  Create dictionaries for Apple's Dictionary.app with ease.<br>
              <a href="https://github.com/SebastianSzturo/inaho" target="_blank">Basecamp Desktop</a> -  Unoffical Basecamp 3 Desktop Client. Build with Electron.

              </center>
            </h2><br><br>

            <h1> Contact </h1>
            <h2>
              Via <i class="fa fa-twitter"></i> <a href="https://twitter.com/SebastianSzturo" target="_blank">@SebastianSzturo</a> or on <i class="fa fa-github"></i> <a href="https://github.com/SebastianSzturo">@SebastianSzturo</a>. You can also be oldschool and email me at sebastian#szturo.me
            </h2><br>
        </header>
    </section>
</div>
